<template name="homeUI">
  <div class="ui two column grid center aligned">
    <div class="column">
      <a href="{{pathFor 'productSelection'}}">
        <div class="ui segment" id="left-home-box">
          <h1 class="ui header">Appuyez ici pour débuter</h1>
        </div>
      </a>
    </div>
    <div class="column">
      <a href="{{pathFor 'productSelection'}}">
        <div class="ui segment" id="right-home-box">
          <h1 class="ui header">Press here to start</h1>
        </div>
      </a>
    </div>
  </div>
</template>
