<template name="home">
    <a href="{{pathFor 'homeUI'}}">Press here to go to UI</a>
    <div class="ui four column main-content features grid">
        {{#each feature}}
            <div class="center aligned column">
                <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                    <span class="headline">{{text}}</span>
                    <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red archive icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">{{_ 'atmosphere_packs'}} <div class="sub header"> {{_ 'dont_wheel'}} </div></h3>
                    <p>
                        {{_ 'lot_of'}}
                        <a href="https://github.com/matteodem/meteor-boilerplate/blob/master/.meteor/packages">{{_ 'helpful_packs'}}</a>
                        {{_ 'get_started_asap'}}</p>
                    <div class="ui list">
                        {{#each package}}
                            <a href="{{path}}" class="item no-underline link">
                                <i class="archive icon"></i>
                                {{name}}
                            </a>
                        {{/each}}
                    </div>
                    <div class="ui info message">
                        <div class="header">
                            {{_ 'removed_packs'}}
                        </div>
                        {{_ 'removed_packs_info'}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="console-tool" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">orion-cli <div class="sub header">{{_ 'be_faster'}}</div></h3>
                    <p>
                        {{_ 'speed_up_repeat_tasks'}} <a href="https://github.com/matteodem/orion-cli">orion-cli</a> {{_ 'used_with_boiler'}}<br />
                        {{_ 'simply_use'}} <code>orion generate {template}</code> {{_ 'generate_files_root'}}
                    </p>
                    <div class="ui list">
                        {{#each consoleCommand}}
                        <div class="item">
                            <i class="right triangle icon"></i>
                            <div class="content">
                                <div class="header">{{command}}</div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <p>
                        {{_ 'support_diff_profiles'}} <a href="https://github.com/matteodem/meteor-boilerplate#available-profiles-cofeescript-and-es6">{{_ 'here'}}</a>.
                    </p>
                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive code icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="html5" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive orange html5 icon"></i>
                    </div>
                </div>
                <div class="column">
                    <h3 class="large ui header">HTML5 {{_ 'and'}} CSS3 <div class="sub header">Semanticness FTW!</div></h3>
                    <p>
                        {{_ 'semantic_and_normalize_goal'}}
                    </p>
                    <h4>{{_ 'bs3_sem-ui_contrast'}}</h4>
                    <table class="ui basic table">
                        <thead>
                        <tr>
                            <th>{{_ 'what'}}</th>
                            <th>Bootstrap 3</th>
                            <th>Semantic UI</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each semanticElement}}
                        <tr>
                            <td>{{what}}</td>
                            <td>{{withBootstrap}}</td>
                            <td>{{withSemanticUI}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="structure" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="magic icon"></i></div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="large ui header">{{_ 'folder_structure'}} <div class="sub header">{{_ 'seperate_concerns'}}</div></h3>
                    <p>
                        {{_ 'app_structure'}}
                        <br />
                        <ul>
                            {{#each folder}}
                            <li>
                                {{root}}
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </p>

                </div>
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive unordered list icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
